@import "_variables.scss";

#converter-container {
    border: $primary solid 1px;
    border-radius: 4px;
    width: 100%;
}

#currency-card {
    overflow: auto;
}

#amount-form {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    #amount-input {
        width: 65%;
    }

    #currency-input {
        width: 20%;
    }

    #to-currency {
        display: flex;
        align-items: center;
    }
}

#button-container {
    display: flex;
    justify-content: center;
}

#converted-container {
    margin-top: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $secondary;
    color: white;
    border-radius: 4px;

    #amount {
        margin-bottom: 20px;
    }

    #converted-value {
        font-size: 40px;
    }

    #rate-last-update {
        font-size: 10px;
    }
}